package project

import (
	"go-starter/internal/view/layout"
	"go-starter/internal/view"
)

templ ShowProjects(title string) {
	@layout.Base(title, true) {
		<p class="text-2xl">Your projects</p>
		<p class="text-2xl">{ view.GetSessionAttributes(ctx).Email }</p>
	}
}
