@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 258 58% 99%;
    --foreground: 258 76% 4%;
    --muted: 258 40% 89%;
    --muted-foreground: 258 4% 25%;
    --popover: 258 58% 99%;
    --popover-foreground: 258 76% 4%;
    --card: 258 58% 99%;
    --card-foreground: 258 76% 4%;
    --border: 258 5% 92%;
    --input: 258 5% 92%;
    --primary: 258 90% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 19% 85%;
    --secondary-foreground: 258 19% 25%;
    --accent: 258 19% 85%;
    --accent-foreground: 258 19% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 260 60% 99.02%;
    --ring: 258 90% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 258 43% 3%;
    --foreground: 258 16% 99%;
    --muted: 258 40% 11%;
    --muted-foreground: 258 4% 75%;
    --popover: 258 43% 3%;
    --popover-foreground: 258 16% 99%;
    --card: 258 43% 3%;
    --card-foreground: 258 16% 99%;
    --border: 258 5% 11%;
    --input: 258 5% 11%;
    --primary: 258 90% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 258 8% 19%;
    --secondary-foreground: 258 8% 79%;
    --accent: 258 8% 19%;
    --accent-foreground: 258 8% 79%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --ring: 258 90% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7;
  }
}
